h2:hover{
    color: rgb(86, 86, 240);
    text-decoration: none;
}
.h2{
    justify-content: center;
    align-items: center;
}

a:hover{
    text-decoration: none;
}
body{
    background-image: url(assets/polar-lights-5858656_960_720.jpg);
    background-size: 100%,100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.header{
    color:white;
    width: 95dvw;
}


ul a {
    margin-left: 20px;
    text-decoration: none;
    color:white;
}
ul{
    list-style: none;
}
ul a:hover{
    color:rgb(86, 86, 240);
}